name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy backend (dummy)
        run: echo "TODO - Deploy backend to AWS ECS Fargate"

  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy frontend (dummy)
        run: echo "TODO - Deploy frontend to AWS S3 + CloudFront"
